/* start glopal rules  */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-transtion: 0.3s;
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}


a {
    text-decoration: none;
}

:disabled {
    cursor: no-drop;
    background-color: #f0f4f8;

}

*:focus {
    outline: none;
}

.page {
    background-color: #f1f5f9;
    min-height: 100vh;
}

/* end glopal rules  */


/* start sidebare */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    /* Make sure it spans the full height of the viewport */
    box-shadow: 0 0 10px #ddd;
    background-color: #fff;
    /* Ensure it has a background color */
    z-index: 1000;
    /* Keep it above other elements */
}

@media (max-width: 767px) {
    .sidebar {
        width: 62px;
        padding: 10px;
    }
}

.sidebar>h3 {
    margin-bottom: 50px;
}



.sidebar>h3::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: black;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
}

.sidebar>h3::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: -29px;
    border: 4px solid white;
}

@media (max-width: 767px) {
    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .sidebar>h3::after,
    .sidebar>h3::before {
        display: none;
    }
}

/* .sidebar ul {}

.sidebar ul li {} */

.sidebar ul li a {
    transition: var(--main-transtion);
    margin-bottom: 5px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    background-color: #f6f6f6;
}

.sidebar ul li a span {
    font-size: 14px;
    margin-left: 10px;
}

@media (max-width: 767px) {
    .sidebar ul li a span {
        display: none;
    }
}


/* end sidebare */

/* <!-- start content   --> */

.content {
    margin-left: 250px;
    overflow: hidden;
}

@media (max-width: 767px) {
    .content {
        margin-left: 62px;
        /* Adjust according to the reduced sidebar width */
    }
}

/* .content .head {} */


.head .search::before {
    font-family: "Font awesome 6 free";
    content: "\f002";
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.head .search input {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 5px;
    padding-left: 30px;
    width: 180px;

    transition: width var(--main-transtion);
}

.head .search input:focus {
    width: 220px;
}

.head .search input:focus::placeholder {
    opacity: 0;
}

.head .icon .notifecation::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -5px;
    top: -10px;
    background-color: var(--red-color);
}

.head .icon img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
}


h1 {
    margin: 20px 20px 40px;
}

h1::before,
h1::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: -10px;
    left: 0;

}

h1::before {
    background-color: white;
    width: 120px;
}

h1::after {
    background-color: black;
    width: 40px;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


/* <!-- end content   --> */

/* start wilcome widget */
.welcome {
    overflow: hidden;
}

@media (max-width: 767px) {
    .welcome .intro p {
        margin-bottom: 20px;
    }
}

.welcome .intro::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(../imgs/avatar.png);
    background-size: cover;
    border: 3px solid white;
    bottom: -25px;
    left: 20px;
}

.welcome .intro img {
    width: 170px;
    margin-bottom: -10px;
}

.welcome .body {
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
}

.welcome .body>div {
    flex: 1;
}

.welcome .visit {
    margin: 0 15px 15px auto;
    transition: var(--main-transtion);
}

.welcome .visit:hover {
    background-color: var(--blue-alt-color);
}

/* end wilcome widget */

/* <!-- strat quick draft widget --> */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft .save {
    margin-left: auto;
    transition: var(--main-transtion);
    cursor: pointer;
}

.quick-draft .save:hover {
    background-color: var(--blue-alt-color);
}

/* <!-- end quick draft widget --> */

/* <!-- start Yearly Targets widget --> */

.targets .target-row {
    margin-bottom: 20px;
}

.targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
}

.targets .detailes {
    flex: 1;
}

.targets .detailes .progress {
    height: 4px;
}

.targets .detailes .progress>span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}

.targets .detailes .progress>span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 13px;
}

.targets .detailes .progress>span span::after {
    content: "";
    position: absolute;
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);

}

.targets .detailes .progress>.blue span::after {
    border-top-color: var(--blue-color);
}

.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}

.targets .detailes .progress>.orange span::after {
    border-top-color: var(--orange-color);
}

.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}

.targets .detailes .progress>.green span::after {
    border-top-color: var(--green-color);
}

.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}

/* <!-- end Yearly Targets widget --> */

/* <!-- start ticket widget --> */

.tickets .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width : 767px) {
    .tickets .box {
        width: 100%;
    }
}

/* <!-- end ticket widget --> */

/* <!-- start latest news --> */
.news .news-row:not(:last-child) {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border: 1px solid #eee;
}

@media (max-width: 767px) {
    .news .news-row {
        display: block;
    }
}

.news .news-row img {
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
}

.news .news-row .info {
    flex: 1;
}

.news .news-row .info h3 {
    margin-bottom: 6px;
    font-size: 16px;
}

@media (max-width: 767px) {
    .news .news-row .lable {
        margin: 10px auto 0;
        width: fit-content;

    }
}

/* <!-- end latest news --> */

/* <!-- start tasks --> */

.tasks .task-row:not(:last-child) {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border: 1px solid #eee;
}

.tasks .info {
    flex: 1;
}

.tasks .done {
    opacity: 0.3;
}

.tasks .done h3,
.tasks .done p {
    text-decoration: line-through;
}

.tasks .delete {
    transition: var(--main-transtion);
}

.tasks .delete:hover {
    color: var(--red-color);
}



/* <!-- end tasks --> */


/* <!-- start latest uploads --> */
.latest-uploads ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-uploads ul li img {
    width: 40px;
    height: 40px;
}

/* <!-- end latest uploads --> */

/* <!-- start last project progress --> */
.last-project ul::before {
    content: "";
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--blue-color);
}

.last-project ul li::before {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: block;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--blue-color);
    margin-right: 15px;
    z-index: 1;
}

.last-project ul li::after {
    content: "";
}

.last-project ul li.done::before {
    background-color: var(--blue-color);
}

.last-project ul li.current::before {
    animation: change-color 2s infinite alternate;
}

.last-project .lunch {
    position: absolute;
    width: 160px;
    right: 0;
    bottom: 0;
}

/* <!-- end last project progress --> */

/* <!-- start reminders  --> */


.reminders ul li .key {
    width: 15px;
    height: 15px;
}

.reminders ul li>.blue {
    border-left: 2px solid var(--blue-color);
}

.reminders ul li>.green {
    border-left: 2px solid var(--green-color);
}

.reminders ul li>.orange {
    border-left: 2px solid var(--orange-color);
}

.reminders ul li>.red {
    border-left: 2px solid var(--red-color);
}

/* <!-- end reminders  --> */


/* <!-- start latest post  --> */

.latest-post .avatar {
    width: 48px;
    height: 48px;
}

.latest-post .post-content {
    text-transform: capitalize;
    line-height: 1.8;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    min-height: 140px;
}

/* <!-- end latest post  --> */

/* <!-- start Social Media Stats  --> */
.social-media .box {
    padding-left: 70px;
}

.social-media .box i {
    position: absolute;
    width: 52px;
    left: 0;
    top: 0;
    transition: var(--main-transtion);
}

.social-media .box i:hover {
    transform: rotate(5deg);
}

.social-media .twitter {
    background-color: rgb(29 161 242 / 20%);
    color: #1da1f2;
}

.social-media .twitter i,
.social-media .twitter a {
    background-color: #1da1f2;
}

.social-media .facebook {
    background-color: rgb(24 119 242 / 20%);
    color: #1da1f2;
}

.social-media .facebook i,
.social-media .facebook a {
    background-color: #1877f2;
}

.social-media .youtube {
    background-color: rgb(255 0 0 / 20%);
    color: #ff0000;
}

.social-media .youtube i,
.social-media .youtube a {
    background-color: #ff0000;
}


.social-media .linkedin {
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}

.social-media .linkedin i,
.social-media .linkedin a {
    background-color: #0077b5;
}

/* <!-- end Social Media Stats  --> */


/* <!-- start Projects table  --> */

.Projects .responsive-table {
    overflow-x: auto;
}

.Projects table {
    min-width: 1000px;
}

.Projects thead td {
    background-color: #eee;
}

.Projects table td {
    padding: 15px;
}


.Projects tbody td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;

}

.Projects tbody tr:hover td {
    background-color: #faf7f7;
}

.Projects table tbody tr td:last-child {
    border-right: 1px solid #eee;
}

.Projects table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.Projects table img:not(:first-child) {
    margin-left: -20px;
}

/* <!-- end Projects table  --> */
/* start animation  */
@keyframes change-color {
    0% {
        background-color: var(--blue-color);
    }

    50% {
        background-color: white;
    }

    100% {
        background-color: var(--blue-color);
    }
}

/* end animation  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------SETTINGS---------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

/* start settings */
/* toggle-switch */
.toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #eee;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: var(--main-transtion);
    cursor: pointer;
}

.toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transtion);
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 50px;
    color: var(--blue-color);
    content: "\f00c";
}

/* toggle-switch */

.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}


/* <!-- start settings box --> */
.close-massege {
    resize: none;
    border: 1px solid #eee;
    min-height: 150px;
}

/* <!-- end settings box --> */

/* <!-- start General Info --> */
.settings-page .general-info .email {
    width: calc(100% - 80px);
    display: inline-flex;
}

/* <!-- end General Info --> */

/* <!-- satrt Social Info --> */
.settings-page .social-info i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: var(--main-transtion);
}

.settings-page .social-info input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 15px;
    border-radius: 0 6px 6px 0;
}

.settings-page .social-info>div:focus-within i {
    color: black;
}

/* <!-- end Social Info --> */


/* <!-- start Widgets Control --> */

.widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.widgets-control .control label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
    margin-top: -9px;
    border-radius: 4px;

}

.widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    background-color: var(--blue-color);
    color: white;
    margin-top: -9px;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: var(--main-transtion);
    border-radius: 4px;
}

.widgets-control .control input[type="checkbox"]:checked+label::after {
    transform: scale(1);
}

/* <!-- end Widgets Control --> */
/* <!-- start Backup Manager --> */
.backup-manager input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.backup-manager .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
}

.backup-manager .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid black;
    border-radius: 50%;
}

.backup-manager .date label::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 4px;
    margin-top: -7px;
    width: 14px;
    height: 14px;
    background-color: var(--blue-color);
    border-radius: 50%;
    transform: scale(0);
    transition: var(--main-transtion);
}

.backup-manager .date input[type="radio"]:checked+label::before {
    border-color: var(--blue-color);
}

.backup-manager .date input[type="radio"]:checked+label::after {
    transform: scale(1);
}

.backup-manager .servers {
    padding-top: 20px;
    border-top: 1px solid #eee;
}

@media (max-width:767px) {
    .backup-manager .servers {
        flex-wrap: wrap;
    }
}

.backup-manager .servers .server {
    border: 1px solid #eee;
    position: relative;
}

.backup-manager .servers .server label {
    cursor: pointer;
}

.backup-manager .servers input[type="radio"]:checked+.server {
    border-color: var(--blue-color);
    color: var(--blue-color);
}

/* <!-- end Backup Manager --> */

/* end settings */

/* start profile  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------Profile----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

@media (max-width : 767px) {
    .profile-page .overview {
        flex-direction: column;
    }
}

.profile-page .avatar-box {
    width: 300px;

}

@media (min-width : 767px) {
    .profile-page .avatar-box {
        border-right: 1px solid #eee;
    }
}

.profile-page .avatar-box>img {
    width: 120px;
    height: 120px;
}


.profile-page .avatar-box .level {
    height: 6px;
    overflow: hidden;
    margin: auto;
    width: 70%;
    margin-top: 10px;
}


.profile-page .avatar-box span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--blue-color);
    border-radius: 6px;
}

.profile-page .box-info .box {
    border-bottom: 1px solid #eee;
    transition: var(--main-transtion);
}

@media (max-width : 767px) {
    .profile-page .box-info .box {
        text-align: center;
    }

}

@media (max-width : 767px) {

    .profile-page .box-info .talls {

        margin-left: 30%;
    }
}


.profile-page .box-info .box:hover {
    background-color: #f9f9f9;
}

.profile-page .box-info .box>div {
    min-width: 250px;
    padding: 10px 0 0;
}

.profile-page .box-info h4 {
    font-weight: normal;
}

.tall .toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.tall .toggle-switch {
    background-color: #eee;
    width: 78px;
    height: 20px;
    border-radius: 16px;
    position: relative;
    transition: var(--main-transtion);
    cursor: pointer;
}

.tall .toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: var(--main-transtion);
}

.tall .toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.tall .toggle-checkbox:checked+.toggle-switch::before {
    left: 60px;
    color: var(--blue-color);
    content: "\f00c";
}

/* <!-- start other data  --> */
@media (max-width : 767px) {
    .profile-page .other-data {
        flex-direction: column;
    }
}

.profile-page .skills-card {
    flex: 1;
}

.profile-page .skills-card ul li {
    padding: 15px 0;
}

.profile-page .skills-card ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.profile-page .skills-card ul li span {
    display: inline-flex;
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 14px;
    margin-right: 5px;
}

.profile-page .activites-card {
    flex: 2;
}

.profile-page .activites-card .activity:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .profile-page .activity {
        flex-direction: column;
    }
}

.profile-page .activity img {
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

@media (max-width: 767px) {
    .profile-page .activity img {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (min-width: 768px) {
    .profile-page .activity .date {
        margin-left: auto;
        text-align: right;
    }
}

@media (max-width: 767px) {
    .profile-page .activity .date {
        margin-top: 15px;
    }
}

/* <!-- end other data  --> */

/* end profile  */


/* start Projexts  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------Projexts----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.project-page {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));

}

@media (max-width : 767px) {
    .project-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }
}

.project-page .project .date {
    position: absolute;
    right: 10px;
    top: 10px;
}

.project-page .project .h4 {
    font-weight: normal;
}

.project-page .project .team {
    position: relative;
    min-height: 80px;
}

.project-page .project .team a:nth-child(2) {
    left: 25px;
}

.project-page .project .team a:nth-child(3) {
    left: 50px;
}

.project-page .project .team a:nth-child(4) {
    left: 75px;
}

.project-page .project .team a:nth-child(5) {
    left: 100px;
}

.project-page .project .team a:hover {
    z-index: 1111;
}

.project-page .project .team a {
    position: absolute;
    left: 0;
    bottom: 0;
    transition: var(--main-transtion);
}

.project-page .project .team img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid white;
}

.project-page .project .do {
    justify-content: end;
    border-top: 1px solid #eee;
    padding-top: 15px;
    margin-top: 15px;
}

@media (max-width : 767px) {
    .project-page .project .do {
        flex-direction: column;
        align-items: center;
    }
}

.project-page .project .do span {
    margin-left: 5px;
    width: fit-content;
}

@media (max-width : 767px) {
    .project-page .project .do span {
        margin-bottom: 15px;
    }
}

.project-page .project .info {
    border-top: 1px solid #eee;
    margin-top: 15px;
    padding-top: 15px;
}

.project-page .project .prog {
    height: 8px;
    width: 160px;
    position: relative;
    border-radius: 6px;
}

.project-page .project .prog span {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
}

@media (max-width : 767px) {
    .project-page .project .info {
        flex-direction: column;
    }

    .project-page .project .prog {
        margin-bottom: 15px;
    }
}

/* end Projexts  */


/* start Cources  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------Cources----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.courses-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

@media (max-width : 767px) {
    .courses-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }
}

.courses-page .course {
    overflow: hidden;
}

.courses-page .course .cover {
    max-width: 100%;
}

.courses-page .course .instructor {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 2px solid white;
    top: 20px;
    left: 20px;
}

.courses-page .description {
    line-height: 1.8;
}

.courses-page .course .info {
    border-top: 1px solid #eee;
    font-size: 13px;
}

.courses-page .course .info .title {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    font-size: 12px;
    top: -13px;
}

/* end Cources  */


/* start Friends  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------Friends----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */


.friends-page {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

}

@media (max-width : 767px) {
    .friends-page {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }
}

.friends-page .contact {
    position: absolute;
    left: 10px;
    top: 10px;
}

.friends-page .contact i {
    background-color: #eee;
    padding: 10px;
    border-radius: 50%;
    color: #666;
    font-size: 13px;
    cursor: pointer;
    transition: var(--main-transtion);
}

.friends-page .contact i:hover {
    background-color: var(--blue-color);
    color: white;
}

.friends-page .friend .icons {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;

}

.friends-page .friend .icons i {
    margin-right: 10px;
}

.friends-page .friend .icons .vip {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    opacity: 0.2;
}

/* end Friends  */


/* start files  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------files----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
.files-page {
    flex-direction: row-reverse;
    align-items: flex-start;
}

@media (max-width : 767px) {
    .files-page {
        flex-direction: column;
        align-items: normal;
    }
}

.files-page .files-stats {
    min-width: 260px;
}

.files-page .files-stats .icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.files-page .files-stats .size {
    margin-left: auto;
}

.files-page .files-stats .blue {
    background-color: rgb(0 117 255 / 20%);
}

.files-page .files-stats .green {
    background-color: rgb(34 197 94 / 20%);
}

.files-page .files-stats .red {
    background-color: rgb(244 67 45 / 20%);
}

.files-page .files-stats .orange {
    background-color: rgb(245 158 11 / 20%);
}

.files-page .files-stats .upload {
    margin: 15px auto 0;
    padding: 10px 15px;
    transition: var(--main-transtion);
}

.files-page .files-stats .upload:hover {
    background-color: var(--blue-alt-color);
}

.files-page .files-stats .upload:hover i {
    animation: goup 0.5s infinite;
}


.files-page .files-content {
    flex: 1;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

}

@media (max-width : 767px) {
    .files-page .files-content {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }
}

.files-page .files-content img {
    width: 64px;
    height: 64px;
    transition: var(--main-transtion);
}

.files-page .files-content .file:hover img {
    transform: rotate(5deg);
}

.files-page .files-content .info {
    border-top: 1px solid #eee;
}


@keyframes goup {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}


/* end files  */


/* start plans  */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* --------------plans----------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* -------------------------------------------------------- */

.plans-page {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));

}

@media (max-width : 767px) {
    .plans-page {
        grid-template-columns: minmax(250px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 20px;
    }
}


.plans-page .plan .top {
    border: 3px solid white;
    outline: 3px solid transparent;
}

.plans-page .plan.green .top {
    outline-color: var(--green-color);
}

.plans-page .plan.blue .top {
    outline-color: var(--blue-color);
}

.plans-page .plan.orange .top {
    outline-color: var(--orange-color);
}


.plans-page .plan .price {
    position: relative;
    font-size: 40px;
    width: fit-content;
    margin: auto;
}

.plans-page .plan .price span {
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 25px;
}

.plans-page .plan ul li {
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

.plans-page .plan ul li .yes {
    color: var(--green-color);
}

.plans-page .plan ul li i:not(.yes, .help) {
    color: var(--red-color);
}

.plans-page .plan ul li i:first-child {
    font-size: 18px;
    margin-right: 5px;
}

.plans-page .plan ul li .help {
    color: var(--grey-color);
    margin-left: auto;
    cursor: pointer;
}

/* end plans  */